# Python
.venv/
__pycache__/
*.pyc

# Node
node_modules/
dist/

# Environment
.env
.env.*

# Runtime
runtime/
releases/

# Upload
uploads/
shared/
logs/
*.log

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db